

<!DOCTYPE html>
<html>
	<head>
		<title>Dojo Survey</title>
	</head>
	<body>
		<h1>🤖 Dojo Survey 🤖</h1>

		<form action='/process' method='post'>
		          Your Name: <input type='text' name='name'> <br><br>
		          Dojo Location: <input type='text' name='location'> <br><br>
		          Favorite language: <input type='text' name='language'> <br><br>
		          comment (optional): <input type='text' name='comment'> <br><br>
		          <input type='submit' value='button'>
		</form>
	</body>
</html>